#contato {
  background: linear-gradient(var(--cor-11) 70rem, var(--cor-1) 0);
}

.contato {
  display: grid;
  grid-template-columns: 5fr 7fr;
}

.contato-dados,
.contato-formulario {
  padding: 6rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.contato-dados {
  background: var(--cor-12);
  border-radius: .4rem 0 0 .4rem;
}

.contato-formulario {
  background: var(--cor-0);
  border-radius: 0 .4rem .4rem 0;
}

.contato-dados h2 {
  margin-bottom: 6rem;
}

.contato-endereco {
  margin-bottom: 3.2rem;
  padding-left: 2.8rem;
  background: url(../../img/icones/local.svg) no-repeat 0 .2rem;
}

.contato-endereco p {
  margin-bottom: .8rem;
}

.contato-meios a {
  display: block;
  width: max-content;
  margin-bottom: .8rem;
  padding-left: 2.8rem;
  transition: .2s;
}

.contato-meios a:hover {
  color: var(--cor-0);
}

.contato-meios a:first-child {
  background: url(../../img/icones/email.svg) no-repeat 0 .2rem;
}

.contato-meios a:nth-child(2) {
  margin-bottom: 3.2rem;
}

.contato-meios a:last-child {
  background: url(../../img/icones/telefone.svg) no-repeat 0 .2rem;
  margin-bottom: 6rem;
}

.contato-redes {
  display: flex;
  gap: 3.2rem;
  padding-left: 2.8rem;
}

@media (max-width: 800px) {
  .contato {
    grid-template-columns: 1fr;
  }

  .contato-dados,
  .contato-formulario {
    padding: 2rem;
  }

  .contato-dados {
    border-radius: .4rem .4rem 0 0;
  }

  .contato-formulario {
    border-radius: 0 0 .4rem .4rem;
  }

  .contato-dados h2,
  .contato-meios a:last-child {
    margin-bottom: 3.2rem;
  }

  .contato-redes {
    margin-bottom: 1.2rem;
  }
}