.perguntas {
  padding: 12rem 2rem;
}

.perguntas h2 {
  margin-bottom: 6rem;
}

.perguntas dl > div {
  padding: 2rem;
  border-radius: .4rem;
}

.perguntas dl > div:nth-child(odd) {
  background: var(--cor-1);
}

.perguntas button {
  display: grid;
  grid-template-columns: auto 1fr auto;
  align-items: center;
  gap: .8rem;
  cursor: pointer;
  border: none;
  background: none;
  width: 100%;
  text-align: left;
}

.perguntas button::before {
  content: "";
  display: inline-block;
  width: 1.2rem;
  height: .8rem;
  background: var(--cor-p1);
}

.perguntas button::after {
  content: "";
  display: inline-block;
  width: 1.4rem;
  height: .6rem;
  background: url('../../img/icones/seta-abrir.svg');
  transition: .3s;
}

.perguntas button:hover::after,
.perguntas button[aria-expanded="true"]::after {
  transform: rotate(180deg);
}

.perguntas dd {
  padding-left: 2rem;
  padding-top: 1.6rem;
  max-width: 80ch;
}

.js .perguntas dd {
  display: none;
}

.js .perguntas dd.ativa {
  display: block;
}

@media (max-width: 800px) {
  .perguntas {
    padding: 6rem 2rem;
  }
  .perguntas h2 {
    margin-bottom: 4rem;
  }
}